src/film.pug
extends _base

block content
  // BEGIN FILM 
  +b.film
    +e.bg-wrap
      +e.bg(style="background-image: url(images/catalog/1.jpg)")
    .container
      .row
        .col-lg-3.col-md-4
          // BEGIN SIDEBAR 
          +e.image
            img(src="images/catalog/1.jpg", alt="")
          +e.data
            +e.tags
              +b.tag 2017г
              +b.tag 16+
              +b.tag Фантастика
              +b.tag Триллер
              +b.tag RUS
              +b.tag UA
              +b.tag Субтитры
            +e.rating
              +b.kinopoisk
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='16px', height='16px')
                  path(fill='rgb(255, 255, 255)', d='M8.000,16.000 C3.582,16.000 -0.000,12.418 -0.000,8.000 C-0.000,3.582 3.582,-0.000 8.000,-0.000 C12.418,-0.000 16.000,3.582 16.000,8.000 C16.000,12.418 12.418,16.000 8.000,16.000 ZM4.992,12.952 C6.039,12.952 6.887,12.103 6.887,11.056 C6.887,10.010 6.039,9.161 4.992,9.161 C3.945,9.161 3.097,10.010 3.097,11.056 C3.097,12.103 3.945,12.952 4.992,12.952 ZM4.944,3.081 C3.897,3.081 3.048,3.926 3.048,4.968 C3.048,6.010 3.897,6.855 4.944,6.855 C5.990,6.855 6.839,6.010 6.839,4.968 C6.839,3.926 5.990,3.081 4.944,3.081 ZM8.000,6.855 C7.368,6.855 6.855,7.368 6.855,8.000 C6.855,8.632 7.368,9.145 8.000,9.145 C8.632,9.145 9.145,8.632 9.145,8.000 C9.145,7.368 8.632,6.855 8.000,6.855 ZM11.032,3.048 C9.990,3.048 9.145,3.897 9.145,4.944 C9.145,5.990 9.990,6.839 11.032,6.839 C12.074,6.839 12.919,5.990 12.919,4.944 C12.919,3.897 12.074,3.048 11.032,3.048 ZM11.089,9.145 C10.042,9.145 9.194,9.990 9.194,11.032 C9.194,12.074 10.042,12.919 11.089,12.919 C12.135,12.919 12.984,12.074 12.984,11.032 C12.984,9.990 12.135,9.145 11.089,9.145 Z')
                +e.tag 7.1
              +b.imdb
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='36', height='15')
                  g(fill= "#fff" transform='translate(0,-1037.3622)')
                    path(d='m 0,1037.826 3.7273,0 0,14.3483 -3.7273,0 z')
                    path(d='m 11.676401,1037.826 -0.8633,6.7031 -0.534,-3.6451 c -0.1557,-1.1699 -0.3045001,-2.1893 -0.4466001,-3.058 l -4.8324009,0 0,14.3483 3.2646005,0 0.012,-9.4739 1.3740004,9.4739 2.3253001,0 1.3036,-9.6848 0.012,9.6848 3.2543,0 0,-14.3483 -4.869,0 z')
                    path(d='m 22.374201,1040.4082 c 0.1473,0.085 0.2417,0.2198 0.2828,0.4023 0.041,0.1829 0.062,0.5986 0.062,1.2472 l 0,5.5625 c 0,0.9553 -0.062,1.5403 -0.1858,1.7554 -0.1237,0.2155 -0.4537,0.3229 -0.9893,0.3229 l 0,-9.4185 c 0.406,0 0.6831,0.043 0.8303,0.1282 z m -0.038,11.7661 c 0.8929,0 1.5612,-0.049 2.005,-0.1461 0.4437,-0.097 0.8161,-0.2684 1.1181,-0.5131 0.3015,-0.2447 0.5128,-0.5838 0.6343,-1.0178 0.1211,-0.4332 0.1932,-1.2934 0.1932,-2.5794 l 0,-5.039 c 0,-1.3571 -0.053,-2.2671 -0.1357,-2.7302 -0.083,-0.4629 -0.2898,-0.8832 -0.6211,-1.2608 -0.3312,-0.3776 -0.8149,-0.6489 -1.4508,-0.814 -0.6357,-0.165 -1.6737,-0.2479 -3.4777,-0.2479 l -2.7809,0 0,14.3483 4.5156,0 z')
                    path(d='m 32.403501,1048.6927 c 0,0.6944 -0.034,1.133 -0.1033,1.3155 -0.069,0.1827 -0.3692,0.2745 -0.5967,0.2745 -0.2219,0 -0.3699,-0.088 -0.445,-0.2649 -0.075,-0.1766 -0.1121,-0.5797 -0.1121,-1.21 l 0,-3.7919 c 0,-0.6538 0.033,-1.0612 0.099,-1.2235 0.066,-0.1616 0.2095,-0.2428 0.4312,-0.2428 0.2273,0 0.5323,0.092 0.6103,0.2778 0.078,0.1855 0.1167,0.5817 0.1167,1.188 l 0,3.6773 z m -4.8477,-10.8667 0,14.3483 3.3556,0 0.2322,-0.9142 c 0.3034,0.3675 0.6381,0.6432 1.0042,0.8269 0.3659,0.1836 0.9123,0.2752 1.3348,0.2752 0.5892,0 1.0978,-0.1548 1.5264,-0.4638 0.4283,-0.3093 0.7007,-0.6749 0.817,-1.0962 0.116,-0.4216 0.174,-1.062 0.174,-1.9224 l 0,-4.0255 c 0,-0.8663 -0.019,-1.4318 -0.058,-1.6969 -0.039,-0.2651 -0.1531,-0.5361 -0.3433,-0.813 -0.1905,-0.2766 -0.4669,-0.4917 -0.83,-0.6451 -0.3627,-0.1536 -0.7906,-0.2301 -1.2842,-0.2301 -0.4284,0 -0.9774,0.085 -1.3433,0.2543 -0.3659,0.1691 -0.6974,0.4258 -0.9947,0.7698 l 0,-4.6673 -3.5907,0 z')
                +e.tag 7.6
            +e.data-col
              +e.data-subtitle Режиссер
              | Джон Уоттс
            +e.data-col
              +e.data-subtitle продюсер
              | Виктория Алонсо, Ави Арад, Митчелл Белл
            +e.data-col
              +e.data-subtitle В главных ролях
              | Том Холланд, Роберт Дауни мл., Майкл Китон, Мариса Томей, Джон Фавро, Зендея, Лора Хэрриер, Тони Револори, Дональд Гловер
            +e.data-col
              +e.data-subtitle Страна
              | США
            +e.data-col
              +e.data-subtitle Время
              | 133 мин
            +e.data-col
              +e.data-subtitle Mpaa
              | 16+
            +e.data-col
              +e.data-subtitle Слоган
              | «Homework can wait. The city can't»
          // END SIDEBAR 

        .col-lg-9.col-md-8
          +filmdata(true)

          // BEGIN FILM-TAB 
          +b.film-tab
            +e.navs
              ul
                li.is-active
                  a(href="#online") Смотреть онлайн
                li
                  a(href="#trailer") Трейлер

            +e.tab-content.is-active#online
              div(data-type="youtube", data-video-id="E5RWdbfGPd8")
            +e.tab-content#trailer
              div(data-type="youtube", data-video-id="E5RWdbfGPd8")
          // END FILM-TAB 
          // BEGIN COMMENTS 
          +b.comments
            +b.title Комментарии к фильму
            +e.form
              form(action="")
                textarea(name="msg", placeholder="Добавить комментарий")
                button(type="submit")
                    i.fa.fa-send
            +e.list
              +e.item
                +e.head
                  +e.IMG.avatar(src="images/comment/1.jpg")
                  +e.name Дмитрий Островский
                  +e.date 11.05.2017
                +e.text
                  p Первая часть забавная, манера повествования необычная, позитивный конец. один раз посмотрел с интересом, но вряд ли захочу пересмотреть еще раз
              +e.item
                +e.head
                  +e.IMG.avatar(src="images/comment/2.jpg")
                  +e.name Алина Кривомазова
                  +e.date 11.05.2017
                +e.text
                  p хорош фильм)))
              +e.item
                +e.head
                  +e.IMG.avatar(src="images/comment/3.jpg")
                  +e.name Ярослав Капуша
                  +e.date 11.05.2017
                +e.text
                  p фильм стоящий просмотра однозначно
          // END COMMENTS 
          // BEGIN RECOMEND 
          +b.recommend
            +b.title Рекомендуем
            +e.list
              -for(var i = 0; i<4; i++)
                +e.item
                  // BEGIN FILM-CARD-SMALL 
                  +b.A.film-crad-small(href="#")
                    img(src="images/popular/1.jpg", alt="")
                    +e.overlay
                      +e.title Пятьдесят оттенков свободы
                      +e.bottom
                        +b.SPAN.tag 2018г
                        +b.btn._play
                          .fa.fa-play
                  // END FILM-CARD-SMALL 
          // END RECOMEND 
  // END FILM 

dev/film.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Project Template</title>
    <meta charset="utf-8"/>
    <meta content="Sinelnikov Dmitriy" name="author"/>
    <meta content="My default project template." name="description"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link rel="shortcut icon" href="img/favicon/favicon.png" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png"/>
    <!-- build:css css/vendor.css-->
    <link rel="stylesheet" href="_assets/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" href="_assets/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="_assets/owl.carousel/dist/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="_assets/plyr/dist/plyr.css"/>
    <link rel="stylesheet" href="_assets/fancybox/dist/jquery.fancybox.min.css"/>
    <!-- endbuild-->
    <!-- build:css css/main.css-->
    <link rel="stylesheet" href="css/main.css"/>
    <!-- endbuild-->
  </head>
  <body class="page">
    <div class="page__wrap">
      <!-- BEGIN HEADER -->
      <header class="header">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="header__wrap"><a class="logo" href="#">LOGOTYPE</a>
                <div class="header__search">
                  <div class="search">
                    <div class="search__form">
                      <form action="/">
                        <input type="text" placeholder="Поиск...">
                        <button type="submit">
                          <div class="fa fa-search"></div>
                        </button>
                      </form>
                    </div>
                    <div class="search__toggle">
                      <div class="fa fa-search"></div>
                    </div>
                  </div>
                </div>
                <div class="header__category"><span class="header__category-icon">
                  <div class="fa fa-navicon"></div></span><span class="header__category-text">Категории</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- BEGIN CATEGORY -->
        <div class="category">
          <div class="container">
            <div class="row">
              <div class="col">
                <ul>
                  <li><a class="category__header" href="#">Фильмы</a>
                  </li>
                  <li><a href="#">Новинки</a></li>
                  <li><a href="#">Популярные</a></li>
                  <li><a href="#">Комедии</a></li>
                  <li><a href="#">Фантастика</a></li>
                  <li><a href="#">Триллеры</a></li>
                  <li><a href="#">Семейное кино</a></li>
                  <li><a href="#">Ужасы</a></li>
                  <li><a href="#">Боевики</a></li>
                  <li><a href="#">Приключения</a></li>
                  <li><a href="#">Драмы</a></li>
                  <li><a href="#">Мелодрамы</a></li>
                  <li><a href="#">Документальное</a></li>
                  <li><a href="#">Арт-Хаус</a></li>
                  <li><a href="#">Спорт</a></li>
                  <li><a href="#">Бокбастеры</a></li>
                  <li><a href="#">Детективы</a></li>
                  <li><a href="#">Исторические</a></li>
                  <li><a href="#">Биография</a></li>
                  <li>&nbsp;</li>
                  <li><a class="category__header" href="#">Мультфильмы</a>
                  </li>
                  <li><a href="#">Новинки</a></li>
                  <li><a href="#">Популярные</a></li>
                  <li><a href="#">Для девочек</a></li>
                  <li><a href="#">Для мальчиков</a></li>
                  <li>&nbsp;</li>
                  <li><a class="category__header" href="#">Сериалы</a>
                  </li>
                  <li><a href="#">Новинки</a></li>
                  <li><a href="#">Популярные</a></li>
                  <li><a href="#">Зарубежные</a></li>
                  <li><a href="#">Отечественные</a></li>
                  <li><a href="#">Лучшее на ТНТ</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- END CATEGORY -->
      </header>
      <!-- END HEADER -->
      <!-- BEGIN FILM -->
      <div class="film">
        <div class="film__bg-wrap">
          <div class="film__bg" style="background-image: url(images/catalog/1.jpg);">
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-4">
              <!-- BEGIN SIDEBAR -->
              <div class="film__image"><img src="images/catalog/1.jpg" alt="">
              </div>
              <div class="film__data">
                <div class="film__tags">
                  <div class="tag">2017г
                  </div>
                  <div class="tag">16+
                  </div>
                  <div class="tag">Фантастика
                  </div>
                  <div class="tag">Триллер
                  </div>
                  <div class="tag">RUS
                  </div>
                  <div class="tag">UA
                  </div>
                  <div class="tag">Субтитры
                  </div>
                </div>
                <div class="film__rating">
                  <div class="kinopoisk">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px">
                      <path fill="rgb(255, 255, 255)" d="M8.000,16.000 C3.582,16.000 -0.000,12.418 -0.000,8.000 C-0.000,3.582 3.582,-0.000 8.000,-0.000 C12.418,-0.000 16.000,3.582 16.000,8.000 C16.000,12.418 12.418,16.000 8.000,16.000 ZM4.992,12.952 C6.039,12.952 6.887,12.103 6.887,11.056 C6.887,10.010 6.039,9.161 4.992,9.161 C3.945,9.161 3.097,10.010 3.097,11.056 C3.097,12.103 3.945,12.952 4.992,12.952 ZM4.944,3.081 C3.897,3.081 3.048,3.926 3.048,4.968 C3.048,6.010 3.897,6.855 4.944,6.855 C5.990,6.855 6.839,6.010 6.839,4.968 C6.839,3.926 5.990,3.081 4.944,3.081 ZM8.000,6.855 C7.368,6.855 6.855,7.368 6.855,8.000 C6.855,8.632 7.368,9.145 8.000,9.145 C8.632,9.145 9.145,8.632 9.145,8.000 C9.145,7.368 8.632,6.855 8.000,6.855 ZM11.032,3.048 C9.990,3.048 9.145,3.897 9.145,4.944 C9.145,5.990 9.990,6.839 11.032,6.839 C12.074,6.839 12.919,5.990 12.919,4.944 C12.919,3.897 12.074,3.048 11.032,3.048 ZM11.089,9.145 C10.042,9.145 9.194,9.990 9.194,11.032 C9.194,12.074 10.042,12.919 11.089,12.919 C12.135,12.919 12.984,12.074 12.984,11.032 C12.984,9.990 12.135,9.145 11.089,9.145 Z"></path>
                    </svg>
                    <div class="kinopoisk__tag">7.1
                    </div>
                  </div>
                  <div class="imdb">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="15">
                      <g fill="#fff" transform="translate(0,-1037.3622)">
                        <path d="m 0,1037.826 3.7273,0 0,14.3483 -3.7273,0 z"></path>
                        <path d="m 11.676401,1037.826 -0.8633,6.7031 -0.534,-3.6451 c -0.1557,-1.1699 -0.3045001,-2.1893 -0.4466001,-3.058 l -4.8324009,0 0,14.3483 3.2646005,0 0.012,-9.4739 1.3740004,9.4739 2.3253001,0 1.3036,-9.6848 0.012,9.6848 3.2543,0 0,-14.3483 -4.869,0 z"></path>
                        <path d="m 22.374201,1040.4082 c 0.1473,0.085 0.2417,0.2198 0.2828,0.4023 0.041,0.1829 0.062,0.5986 0.062,1.2472 l 0,5.5625 c 0,0.9553 -0.062,1.5403 -0.1858,1.7554 -0.1237,0.2155 -0.4537,0.3229 -0.9893,0.3229 l 0,-9.4185 c 0.406,0 0.6831,0.043 0.8303,0.1282 z m -0.038,11.7661 c 0.8929,0 1.5612,-0.049 2.005,-0.1461 0.4437,-0.097 0.8161,-0.2684 1.1181,-0.5131 0.3015,-0.2447 0.5128,-0.5838 0.6343,-1.0178 0.1211,-0.4332 0.1932,-1.2934 0.1932,-2.5794 l 0,-5.039 c 0,-1.3571 -0.053,-2.2671 -0.1357,-2.7302 -0.083,-0.4629 -0.2898,-0.8832 -0.6211,-1.2608 -0.3312,-0.3776 -0.8149,-0.6489 -1.4508,-0.814 -0.6357,-0.165 -1.6737,-0.2479 -3.4777,-0.2479 l -2.7809,0 0,14.3483 4.5156,0 z"></path>
                        <path d="m 32.403501,1048.6927 c 0,0.6944 -0.034,1.133 -0.1033,1.3155 -0.069,0.1827 -0.3692,0.2745 -0.5967,0.2745 -0.2219,0 -0.3699,-0.088 -0.445,-0.2649 -0.075,-0.1766 -0.1121,-0.5797 -0.1121,-1.21 l 0,-3.7919 c 0,-0.6538 0.033,-1.0612 0.099,-1.2235 0.066,-0.1616 0.2095,-0.2428 0.4312,-0.2428 0.2273,0 0.5323,0.092 0.6103,0.2778 0.078,0.1855 0.1167,0.5817 0.1167,1.188 l 0,3.6773 z m -4.8477,-10.8667 0,14.3483 3.3556,0 0.2322,-0.9142 c 0.3034,0.3675 0.6381,0.6432 1.0042,0.8269 0.3659,0.1836 0.9123,0.2752 1.3348,0.2752 0.5892,0 1.0978,-0.1548 1.5264,-0.4638 0.4283,-0.3093 0.7007,-0.6749 0.817,-1.0962 0.116,-0.4216 0.174,-1.062 0.174,-1.9224 l 0,-4.0255 c 0,-0.8663 -0.019,-1.4318 -0.058,-1.6969 -0.039,-0.2651 -0.1531,-0.5361 -0.3433,-0.813 -0.1905,-0.2766 -0.4669,-0.4917 -0.83,-0.6451 -0.3627,-0.1536 -0.7906,-0.2301 -1.2842,-0.2301 -0.4284,0 -0.9774,0.085 -1.3433,0.2543 -0.3659,0.1691 -0.6974,0.4258 -0.9947,0.7698 l 0,-4.6673 -3.5907,0 z"></path>
                      </g>
                    </svg>
                    <div class="imdb__tag">7.6
                    </div>
                  </div>
                </div>
                <div class="film__data-col">
                  <div class="film__data-subtitle">Режиссер
                  </div>Джон Уоттс
                </div>
                <div class="film__data-col">
                  <div class="film__data-subtitle">продюсер
                  </div>Виктория Алонсо, Ави Арад, Митчелл Белл
                </div>
                <div class="film__data-col">
                  <div class="film__data-subtitle">В главных ролях
                  </div>Том Холланд, Роберт Дауни мл., Майкл Китон, Мариса Томей, Джон Фавро, Зендея, Лора Хэрриер, Тони Револори, Дональд Гловер
                </div>
                <div class="film__data-col">
                  <div class="film__data-subtitle">Страна
                  </div>США
                </div>
                <div class="film__data-col">
                  <div class="film__data-subtitle">Время
                  </div>133 мин
                </div>
                <div class="film__data-col">
                  <div class="film__data-subtitle">Mpaa
                  </div>16+
                </div>
                <div class="film__data-col">
                  <div class="film__data-subtitle">Слоган
                  </div>«Homework can wait. The city can't»
                </div>
              </div>
              <!-- END SIDEBAR -->
            </div>
            <div class="col-lg-9 col-md-8">
              <!-- BEGIN FILM-DATA -->
              <div class="film-data">
                <div class="film-data__tags">
                  <div class="tag">2017г
                  </div>
                  <div class="tag">Фантастика
                  </div>
                  <div class="tag">Триллер
                  </div>
                  <div class="kinopoisk">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px">
                      <path fill="rgb(255, 255, 255)" d="M8.000,16.000 C3.582,16.000 -0.000,12.418 -0.000,8.000 C-0.000,3.582 3.582,-0.000 8.000,-0.000 C12.418,-0.000 16.000,3.582 16.000,8.000 C16.000,12.418 12.418,16.000 8.000,16.000 ZM4.992,12.952 C6.039,12.952 6.887,12.103 6.887,11.056 C6.887,10.010 6.039,9.161 4.992,9.161 C3.945,9.161 3.097,10.010 3.097,11.056 C3.097,12.103 3.945,12.952 4.992,12.952 ZM4.944,3.081 C3.897,3.081 3.048,3.926 3.048,4.968 C3.048,6.010 3.897,6.855 4.944,6.855 C5.990,6.855 6.839,6.010 6.839,4.968 C6.839,3.926 5.990,3.081 4.944,3.081 ZM8.000,6.855 C7.368,6.855 6.855,7.368 6.855,8.000 C6.855,8.632 7.368,9.145 8.000,9.145 C8.632,9.145 9.145,8.632 9.145,8.000 C9.145,7.368 8.632,6.855 8.000,6.855 ZM11.032,3.048 C9.990,3.048 9.145,3.897 9.145,4.944 C9.145,5.990 9.990,6.839 11.032,6.839 C12.074,6.839 12.919,5.990 12.919,4.944 C12.919,3.897 12.074,3.048 11.032,3.048 ZM11.089,9.145 C10.042,9.145 9.194,9.990 9.194,11.032 C9.194,12.074 10.042,12.919 11.089,12.919 C12.135,12.919 12.984,12.074 12.984,11.032 C12.984,9.990 12.135,9.145 11.089,9.145 Z"></path>
                    </svg>
                    <div class="kinopoisk__tag">7.1
                    </div>
                  </div>
                  <div class="tag">12+
                  </div>
                  <div class="tag tag_blue">FullHD
                  </div>
                </div>
                <h3 class="film-data__title">Человек-паук: Возвращение домой
                </h3>
                <div class="film-data__title-original">Spider-Man: Homecoming
                </div>
                <p>После исторической встречи с командой Мстителей Питер Паркер возвращается домой, стараясь зажить обычной жизнью под опекой своей тёти Мэй. <span class="full-text">Но теперь за Питером приглядывает ещё кое-что… Тони Старк видел Человека-Паука в деле и должен стать его наставником. Когда новый злодей Стервятник угрожает уничтожить всё, что дорого Питеру, приходит время доказать всем, что такое настоящий супергерой.</span></p>
                <div class="cadrs">
                  <div class="cadrs__title">Кадры из фильма
                  </div>
                  <div class="cadrs__list"><a class="cadrs__item fancybox" href="images/cadrs/1b.jpg" data-fancybox="cadrs"><img src="images/cadrs/1.jpg" alt=""/></a><a class="cadrs__item fancybox" href="images/cadrs/2b.jpg" data-fancybox="cadrs"><img src="images/cadrs/2.jpg" alt=""/></a><a class="cadrs__item fancybox" href="images/cadrs/3b.jpg" data-fancybox="cadrs"><img src="images/cadrs/3.jpg" alt=""/></a>
                  </div>
                </div>
              </div>
              <!-- END FILM-DATA -->
              <!-- BEGIN FILM-TAB -->
              <div class="film-tab">
                <div class="film-tab__navs">
                  <ul>
                    <li class="is-active"><a href="#online">Смотреть онлайн</a></li>
                    <li><a href="#trailer">Трейлер</a></li>
                  </ul>
                </div>
                <div class="film-tab__tab-content is-active" id="online">
                  <div data-type="youtube" data-video-id="E5RWdbfGPd8"></div>
                </div>
                <div class="film-tab__tab-content" id="trailer">
                  <div data-type="youtube" data-video-id="E5RWdbfGPd8"></div>
                </div>
              </div>
              <!-- END FILM-TAB -->
              <!-- BEGIN COMMENTS -->
              <div class="comments">
                <div class="title">Комментарии к фильму
                </div>
                <div class="comments__form">
                  <form action="">
                    <textarea name="msg" placeholder="Добавить комментарий"></textarea>
                    <button type="submit"><i class="fa fa-send"></i></button>
                  </form>
                </div>
                <div class="comments__list">
                  <div class="comments__item">
                    <div class="comments__head"><img class="comments__avatar" src="images/comment/1.jpg" alt="" role="presentation"/>
                      <div class="comments__name">Дмитрий Островский
                      </div>
                      <div class="comments__date">11.05.2017
                      </div>
                    </div>
                    <div class="comments__text">
                      <p>Первая часть забавная, манера повествования необычная, позитивный конец. один раз посмотрел с интересом, но вряд ли захочу пересмотреть еще раз</p>
                    </div>
                  </div>
                  <div class="comments__item">
                    <div class="comments__head"><img class="comments__avatar" src="images/comment/2.jpg" alt="" role="presentation"/>
                      <div class="comments__name">Алина Кривомазова
                      </div>
                      <div class="comments__date">11.05.2017
                      </div>
                    </div>
                    <div class="comments__text">
                      <p>хорош фильм)))</p>
                    </div>
                  </div>
                  <div class="comments__item">
                    <div class="comments__head"><img class="comments__avatar" src="images/comment/3.jpg" alt="" role="presentation"/>
                      <div class="comments__name">Ярослав Капуша
                      </div>
                      <div class="comments__date">11.05.2017
                      </div>
                    </div>
                    <div class="comments__text">
                      <p>фильм стоящий просмотра однозначно</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END COMMENTS -->
              <!-- BEGIN RECOMEND -->
              <div class="recommend">
                <div class="title">Рекомендуем
                </div>
                <div class="recommend__list">
                  <div class="recommend__item">
                    <!-- BEGIN FILM-CARD-SMALL --><a class="film-crad-small" href="#"><img src="images/popular/1.jpg" alt=""><span class="film-crad-small__overlay"><span class="film-crad-small__title">Пятьдесят оттенков свободы</span><span class="film-crad-small__bottom"><span class="tag">2018г</span><span class="btn btn_play">
                    <div class="fa fa-play"></div></span></span></span></a>
                    <!-- END FILM-CARD-SMALL -->
                  </div>
                  <div class="recommend__item">
                    <!-- BEGIN FILM-CARD-SMALL --><a class="film-crad-small" href="#"><img src="images/popular/1.jpg" alt=""><span class="film-crad-small__overlay"><span class="film-crad-small__title">Пятьдесят оттенков свободы</span><span class="film-crad-small__bottom"><span class="tag">2018г</span><span class="btn btn_play">
                    <div class="fa fa-play"></div></span></span></span></a>
                    <!-- END FILM-CARD-SMALL -->
                  </div>
                  <div class="recommend__item">
                    <!-- BEGIN FILM-CARD-SMALL --><a class="film-crad-small" href="#"><img src="images/popular/1.jpg" alt=""><span class="film-crad-small__overlay"><span class="film-crad-small__title">Пятьдесят оттенков свободы</span><span class="film-crad-small__bottom"><span class="tag">2018г</span><span class="btn btn_play">
                    <div class="fa fa-play"></div></span></span></span></a>
                    <!-- END FILM-CARD-SMALL -->
                  </div>
                  <div class="recommend__item">
                    <!-- BEGIN FILM-CARD-SMALL --><a class="film-crad-small" href="#"><img src="images/popular/1.jpg" alt=""><span class="film-crad-small__overlay"><span class="film-crad-small__title">Пятьдесят оттенков свободы</span><span class="film-crad-small__bottom"><span class="tag">2018г</span><span class="btn btn_play">
                    <div class="fa fa-play"></div></span></span></span></a>
                    <!-- END FILM-CARD-SMALL -->
                  </div>
                </div>
              </div>
              <!-- END RECOMEND -->
            </div>
          </div>
        </div>
      </div>
      <!-- END FILM -->
      <!-- BEGIN FOOTER -->
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="footer__logo col-xl-2 col-lg-3 col-md-4"><a class="logo" href="#">Logotype</a>
              <div class="copy">Logotype © 2017.<br>Все права защищены.
              </div>
            </div>
            <div class="footer__text col-xl-4 col-lg-3 col-md-8">
              <div class="footer__title">О нас
              </div>
              <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой.</p>
            </div>
            <div class="footer__menu col-xl-3 col-lg-3 col-md-12">
              <nav class="footer__nav">
                <ul>
                  <li class="is-active"><a href="#">Главная</a></li>
                  <li><a href="#">Новинки</a></li>
                  <li><a href="#">Стол заказов</a></li>
                  <li><a href="#">Правообладателям</a></li>
                </ul>
              </nav>
            </div>
            <div class="footer__social col-xl-3 col-lg-3 col-md-12">
              <div class="footer__title">Мы в социальных сетях
              </div>
              <div class="social"><a class="social__vk" href="#">
                <div class="fa fa-vk"></div></a><a class="social__fb" href="#">
                <div class="fa fa-facebook"></div></a><a class="social__in" href="#">
                <div class="fa fa-instagram"></div></a><a class="social__tw" href="#">
                <div class="fa fa-twitter"></div></a><a class="social__gp" href="#">
                <div class="fa fa-google-plus"></div></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- END FOOTER -->
    </div>
    <!-- build:js js/vendor.js-->
    <script src="_assets/jquery/dist/jquery.min.js"></script>
    <script src="_assets/slick-carousel/slick/slick.min.js"></script>
    <script src="_assets/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="_assets/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="_assets/plyr/dist/plyr.js"></script>
    <script src="_assets/fancybox/dist/jquery.fancybox.min.js"></script>
    <!-- endbuild-->
    <!-- build:js js/main.js-->
    <script src="js/main.js"></script>
    <!-- endbuild-->
  </body>
</html>
